.auth-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
}

.auth-inner {
    width: 450px;
    margin: 200px auto auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all 0.3s;
}

.cursor-pointer {
    cursor: pointer;
}

.text-align-center {
    text-align: center;
}

.confirm-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 20px;
    padding: 30px 30px 70px;
}

.confirm-dialog button.close {
    width: 30px;
    font-size: 20px;
    color: #c0c5cb;
    align-self: flex-end;
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
}

.confirm-dialog img {
    width: 82px;
    margin-bottom: 15px;
}

.confirm-dialog p {
    margin-bottom: 40px;
    font-size: 18px;
}

.confirm-dialog button.accept {
    background-color: #ed6755;
    border: none;
    border-radius: 5px;
    width: 200px;
    padding: 14px;
    font-size: 16px;
    color: white;
    box-shadow: 0px 6px 18px -5px #ed6755;
}

.overlay-loader {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: #eceaea;
    background-image: url('../public/assets/images/ajax-loader.gif');
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10000000;
    opacity: 0.2;
    filter: alpha(opacity=40);
}

.pagination {
    margin-bottom: 0;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
